<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="tdx-plugin-tessaract"
      version="0.0.1">
    <name>Tesseract Plugin</name>
 
    <js-module src="www/OCRPlugin.js" name="OCRPlugin">
        <clobbers target="OCRPlugin" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
		    <feature name="OCRPlugin">
			    <param name="ios-package" value="OCRPlugin"/>
                <param name="onload" value="true" />
		    </feature>
        </config-file>

        <header-file src="claseAuxiliar.h" />
        <source-file src="claseAuxiliar.mm" />
        <header-file src="OCRPlugin.h" />
        <source-file src="OCRPlugin.m" />
		<source-file src="dependencies" />
        <!-- set the tessdata directory as a resource so it can go with the app -->
        <resource-file src="tessdata" />
    </platform>
    

</plugin>
